@model PromptManageViewModel
@{
    ViewBag.Title = "編輯提示語";
    int numOfLogs = 10;
}

@section NavPills {
    <ul class="nav nav-pills me-auto ms-3">
        <partial name="~/Views/Nav/_TeacherNavPartial.cshtml"
                 model="new TeacherNavViewModel { CourseID = Model.CourseId, ActiveIndex = 2 }" />
    </ul>
}
<div class="container">
    <partial name="~/Views/AllPartial/_ViewTitlePartial.cshtml"
             model="new ViewTitlePartialViewModel { h1 = Model.CourseName, h2 = ViewBag.Title }" />
    <div class="alert alert-success alert-dismissible fade show m-3 p-3" role="alert">
        <h4>系統內定符號說明</h4>
        <ul>
            <li>
                <code> &lt;!reference_data&gt;</code>: 與學生回應相關的教材內容
            </li>
            <li>
                <code>&lt;!question&gt;</code>: 學生的回應
            </li>
            <li>
                <code>&lt;!context&gt;</code>: 學生與AI小幫手的對話歷程(系統內建暫存區，最多記憶 @numOfLogs 組問答)
            </li>
        </ul>
        <h4>欄位填寫說明</h4>
        <ul>
            <li>System Prompt：AI小幫手與學生對話的角色、風格、限制條件...等等提示語，可使用系統內定符號</li>
            <li>User Prompt：AI小幫手回應學生的提示語，可使用系統內定符號</li>
            <li>招呼語: AI小幫手與學生互動的第一句話，不可使用系統內定符號</li>
            <li>創意度: AI小幫手回應的創意程度，合法值為0~2之間</li>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="card m-3 p-3">
        @if(ViewBag.isError == true)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Message
            </div>
        }
        <form action="@Url.Action("Edit","PromptManage", new { cid = Model.CourseId })" method="post">
            @Html.AntiForgeryToken()
            <div class="row mx-1 pt-1">
                <label asp-for="LLMModel" class="form-label col-12 fs-5"></label>
                <select asp-for="LLMModel" class="form-select col-12 fs-5">
                    <option value="GPT35" selected>GPT3.5</option>
                    <option value="GPT4">GPT4</option>
                </select>
                @Html.ValidationMessageFor(model => model.LLMModel, "", new { @class = "text-danger" })
            </div>
            <div class="row mx-1 pt-1">
                <label asp-for="Temperature" class="form-label col-12 fs-5"></label>
                <input asp-for="Temperature" class="form-control col-12 fs-5" type="number" step="0.01" />
                @Html.ValidationMessageFor(model => model.Temperature, "", new { @class = "text-danger" })
            </div>
            <div class="row mx-1 pt-1">
                <div class="form-check my-1 col-12 fs-5">                    
                    <label asp-for="IsNeedContext" class="form-label"></label>
                    @Html.CheckBoxFor(model => model.IsNeedContext, new { @class = "form-check-input" })
                    @Html.ValidationMessageFor(model => model.IsNeedContext, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mx-1 pt-1">
                <label class="form-label col-12 fs-5">System Prompt</label>
                @Html.TextAreaFor(model => model.SystemPrompt, new { @class = "form-control col-12 fs-5", rows = "5" })
                @Html.ValidationMessageFor(model => model.SystemPrompt, "", new { @class = "text-danger" })
            </div>
            <div class="row mx-1 pt-1">
                <label class="form-label col-12 fs-5">User Prompt</label>
                @Html.TextAreaFor(model => model.UserPrompt, new { @class = "form-control col-12 fs-5", rows = "5" })
                @Html.ValidationMessageFor(model => model.UserPrompt, "", new { @class = "text-danger" })
            </div>
            <div class="row mx-1 pt-1">
                @Html.ValidationMessageFor(model => model.Greeting, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Greeting, new { @class = "form-label col-12 fs-5" })
                @Html.TextAreaFor(model => model.Greeting, new { @class = "form-control col-12 fs-5", rows = "5" })
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    @Html.HiddenFor(model => model.CourseId)
                    @Html.HiddenFor(model => model.CourseName)
                    <input type="submit" value="儲存" class="btn btn-primary w-100" />
                </div>
                <div class="col-12 col-md-6">
                    <a class="btn btn-secondary w-100" href="@Url.Action("Index", "Material" , new { cid = Model.CourseId })">取消</a>
                </div>
            </div>
        </form>
    </div>
</div>
